<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include ("../partials/header.ejs") %>
</head>
<body>
    <%- include ("../partials/nav.ejs") %>
    <div id='usersPage'>
        <h1>お客様管理画面です</h1>
    </div>
    
    <%- include ("../partials/footer.ejs") %>
</body>
</html>